<template>
  <div class="video-container">
    <video autoplay loop muted>
      <source :src="require('@/assets/video/video_ag.mp4')" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="overlay-desc">
      <div
        :class="{
          'billboard__header--mobile': $vuetify.breakpoint.smAndDown,
          'billboard__header--desktop': !$vuetify.breakpoint.smAndDown
        }"
      >
        AG SISTEMAS Y PROYECTOS
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.overlay-desc {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.billboard__header--desktop {
  font-size: 5em;
  text-align: center;
  padding: 20px;
  color: white;
  font-weight: 500;
}
.billboard__header--mobile {
  font-size: 2em;
  text-align: center;
  padding: 20px;
  color: white;
  font-weight: 500;
}
</style>
