<template>
  <v-card class="mx-auto" max-width="344">
    <v-img :src="src" height="200px"></v-img>
    <div class="product__controllers mt-5">
      <v-btn @click="$emit('previousItem')" :disabled="disableLeft" icon>
        <v-icon :color="$source.palette.primary" x-large>mdi-arrow-left</v-icon>
      </v-btn>
      <v-btn @click="$emit('nextItem')" :disabled="disableRight" icon>
        <v-icon :color="$source.palette.primary" x-large
          >mdi-arrow-right</v-icon
        >
      </v-btn>
    </div>
    <v-card-title class="font-weight-bold">
      {{ title }}
    </v-card-title>

    <v-card-subtitle>
      {{ headline }}
    </v-card-subtitle>

    <v-card-actions>
      <v-btn
        :color="$source.palette.accent"
        class="white--text ma-3 product-card__btn"
        fab
      >
        <v-icon>mdi-file-pdf</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <div
        :style="`color:${$source.palette.body}`"
        class="mr-2 font-weight-bold"
      >
        Ver descripción
      </div>
      <v-btn @click="show = !show" icon>
        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
          {{ body }}
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
export default {
  props: {
    title: { required: true, type: String },
    headline: { required: true, type: String },
    body: { required: true, type: String },
    src: { required: true, type: String },
    disableLeft: { required: true, type: Boolean },
    disableRight: { required: true, type: Boolean }
  },
  data: () => ({
    show: false
  })
}
</script>

<style>
.product-card__btn {
  transition: all 0.2s;
}
.product-card__btn:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}
</style>
