<template>
  <div>
    <a-g-header title="Productos" class=" pb-10 mt-10"></a-g-header>
    <div>
      <v-tabs v-model="tab" :background-color="$source.palette.title" dark grow>
        <v-tab
          v-for="(product, i) in $source.products"
          :key="i"
          @click="onTabChange(i)"
        >
          {{ product.category }}
        </v-tab>
        <v-tabs-slider :color="$source.palette.accent"></v-tabs-slider>
        <v-tab-item v-for="(product, j) in $source.products" :key="j">
          <v-container fluid>
            <v-row>
              <v-col
                v-for="(item, k) in product.items"
                :key="k"
                cols="12"
                class="hidden-sm-and-down"
                md="4"
              >
                <a-g-product-card
                  :title="item.title"
                  :headline="item.headline"
                  :body="item.body"
                  :src="item.src"
                  class="product__card "
                ></a-g-product-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="hidden-md-and-up">
                <a-g-product-card-mobile
                  :title="actualItem.title"
                  :headline="actualItem.headline"
                  :body="actualItem.body"
                  :src="actualItem.src"
                  :disableLeft="disableLeft"
                  :disableRight="disableRight"
                  @previousItem="onPreviousItem"
                  @nextItem="onNextItem"
                  class="product__card"
                ></a-g-product-card-mobile>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>
      </v-tabs>
    </div>
  </div>
</template>

<script>
import AGHeader from '@/components/navigation/AGHeader'
import AGProductCard from '@/components/products/AGProductCard'
import AGProductCardMobile from '@/components/products/AGProductCardMobile'
export default {
  components: {
    AGHeader,
    AGProductCard,
    AGProductCardMobile
  },
  data: () => ({
    tab: null,
    categoryIndex: 0,
    productIndex: 0,
    actualItem: {
      title: '',
      headline: '',
      body: '',
      src: ''
    },
    disableLeft: false,
    disableRight: false
  }),
  mounted() {
    this.onTabChange(0)
  },
  methods: {
    onTabChange(index) {
      this.categoryIndex = index
      this.productIndex = 0
      const cat = this.$source.products[this.categoryIndex]
      this.actualItem = cat.items[this.productIndex]
      this.disableRight = this.productIndex === cat.items.length - 1
      this.disableLeft = this.productIndex === 0
    },
    onPreviousItem() {
      const cat = this.$source.products[this.categoryIndex]
      if (this.productIndex - 1 >= 0) {
        this.productIndex--
        this.actualItem = cat.items[this.productIndex]
      }
      this.disableRight = this.productIndex === cat.items.length - 1
      this.disableLeft = this.productIndex === 0
    },
    onNextItem() {
      const cat = this.$source.products[this.categoryIndex]
      if (this.productIndex + 1 < cat.items.length) {
        this.productIndex++
        this.actualItem = cat.items[this.productIndex]
      }
      this.disableRight = this.productIndex === cat.items.length - 1
      this.disableLeft = this.productIndex === 0
    }
  }
}
</script>

<style>
.products__container {
  display: flex;
  flex-flow: column wrap;
}
.product__card {
  margin: 20px;
}
.product__controllers {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
</style>
