<template class="ma-5">
  <v-hover v-slot:default="{ hover }">
    <v-card class="mx-auto" color="grey lighten-4" max-width="400">
      <v-img :aspect-ratio="16 / 9" :src="src">
        <v-expand-transition>
          <div
            v-if="hover"
            :style="`background-color:${$source.palette.primary}`"
            class="d-flex transition-fast-in-fast-out v-card--reveal headline white--text"
            style="height: 100%;"
          >
            Descarga la ficha técnica
          </div>
        </v-expand-transition>
      </v-img>
      <v-card-text class="pt-6" style="position: relative;">
        <v-btn
          :color="$source.palette.accent"
          absolute
          class="white--text product-card__btn"
          fab
          large
          right
          top
        >
          <v-icon>mdi-file-pdf</v-icon>
        </v-btn>
        <div class="font-weight-light grey--text title mb-2">
          {{ headline }}
        </div>
        <h3
          :style="`color:${$source.palette.accent}`"
          class="display-1 font-weight-bold mb-2"
        >
          {{ title }}
        </h3>
        <div class="font-weight-light title mb-2">
          {{ body }}
        </div>
      </v-card-text>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  props: {
    title: { required: true, type: String },
    headline: { required: true, type: String },
    body: { required: true, type: String },
    src: { required: true, type: String }
  }
}
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
.product-card__btn {
  transition: all 0.2s;
}
.product-card__btn:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}
</style>
