<template>
  <v-parallax
    :src="require('@/assets/img/parallax.png')"
    class="parallax__container"
    height="400"
  >
    <img
      :src="require('@/assets/img/logos/logo.png')"
      class="parallax__logo"
      alt="Logo"
    />
  </v-parallax>
</template>

<script>
export default {
  name: 'AGParallax'
}
</script>

<style>
.parallax__container {
  position: relative;
}
.parallax__logo {
  position: absolute;
  left: 5%;
  top: 10%;
  max-width: 290px;
}
</style>
