<template>
  <div class="us_container my-10">
    <a-g-header title="¿Quiénes somos?" center class="mt-10"></a-g-header>
    <div
      :style="`color:$source.palette.body`"
      :class="
        $vuetify.breakpoint.smAndDown ? 'us__body--mobile' : 'us__body--desktop'
      "
      v-in-viewport.once
      class="appear"
    >
      {{ $source.us.body }}
    </div>
    <img
      :src="require('@/assets/img/floating/trumpet.png')"
      class="us__trumpet hidden-sm-and-down"
      alt="trumpet"
    />
    <img
      :src="require('@/assets/img/floating/brush.png')"
      class="us__brush hidden-sm-and-down"
      alt="brush"
    />
  </div>
</template>

<script>
import AGHeader from '@/components/navigation/AGHeader'
export default {
  components: {
    AGHeader
  }
}
</script>

<style>
.us_container {
  position: relative;
}
.us__body--desktop {
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  padding: 60px 20%;
}
.us__body--mobile {
  width: 100%;
  font-size: 1.5em;
  padding: 0 50px;
  text-align: center;
  margin-top: 30px;
}
.us__trumpet {
  position: absolute;
  z-index: 3;
  right: -35px;
  top: 25%;
  animation: floating infinite 4s ease-in-out;
}
.us__brush {
  position: absolute;
  z-index: 3;
  left: -40px;
  top: 0;
  animation: floating infinite 3s ease-in-out;
}
.appear {
  transition: all 3s;
  opacity: 0;
}
.appear.in-viewport {
  transition: all 3s;
  opacity: 1;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>
