<template>
  <v-speed-dial
    v-model="fab"
    open-on-hover
    transition="slide-y-reverse-transition"
    class="hidden-md-and-up"
    bottom
    right
  >
    <template v-slot:activator>
      <v-btn
        v-model="fab"
        :color="$source.palette.accent"
        dark
        fab
        absolute
        style="z-index:3"
      >
        <v-icon v-if="fab">mdi-close</v-icon>
        <v-icon v-else>mdi-account-circle</v-icon>
      </v-btn>
    </template>
    <v-btn fab dark small color="green">
      <v-icon>mdi-pencil</v-icon>
    </v-btn>
    <v-btn fab dark small color="indigo">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-btn fab dark small color="red">
      <v-icon>mdi-delete</v-icon>
    </v-btn>
  </v-speed-dial>
</template>

<script>
export default {
  name: 'AGFloatingButton',
  data: () => ({
    direction: 'top',
    fab: false
  })
}
</script>

<style>
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>
