<template>
  <v-footer color="primary" height="100">
    <a @click="goToKanto" class="footer__content white--text">
      <strong>Powered by</strong>
      <img :src="require('@/assets/img/logos/kanto.png')" class="mx-2" />
      <span>Kanto Studio</span>
    </a>
  </v-footer>
</template>

<script>
export default {
  name: 'AGFooter',
  data() {
    return {
      kantoUrl: 'https://kanto.studio'
    }
  },
  methods: {
    goToKanto() {
      window.open('https://kanto.studio', '_blank')
    }
  }
}
</script>

<style>
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  width: 100%;
}

.footer__logo {
  width: 10px;
}
</style>
