<template>
  <div
    :class="{
      'text-left': left,
      'text-right': right,
      'text-center': center
    }"
    class="header__container"
  >
    <div
      :class="{
        'header__text--mobile': $vuetify.breakpoint.smAndDown,
        'header__text--desktop': !$vuetify.breakpoint.smAndDown,
        'text-left': left,
        'text-right': right,
        'text-center': center
      }"
      :style="`color:${color}`"
      v-in-viewport.once
      class="header__text ml-10 pl-2 fade-in-right"
    >
      {{ title }}
    </div>
    <div
      :style="`background-color:${$source.palette.accent}`"
      :class="{
        'header__hornament--mobile': $vuetify.breakpoint.smAndDown,
        'header__hornament--tablet': !$vuetify.breakpoint.md,
        'header__hornament--desktop': !$vuetify.breakpoint.lgAndUp,
        'header__hornament--center': center,
        'header__hornament--left': left,
        'header__hornament--right': right
      }"
      v-in-viewport.once
      class="fade-in-left"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'AGHeader',
  props: {
    title: {
      required: true,
      type: String
    },
    left: {
      type: Boolean
    },
    right: {
      type: Boolean
    },
    center: {
      type: Boolean
    },
    color: {
      default: '#12324e',
      type: String
    }
  }
}
</script>

<style>
.header__hornament--mobile {
  width: 210px;
  height: 10px;
  position: absolute;
  margin-left: 30%;
}
.header__hornament--tablet {
  width: 210px;
  height: 10px;
  position: absolute;
  margin-left: 5%;
}
.header__hornament--desktop {
  width: 210px;
  height: 10px;
  position: absolute;
  margin-left: 10%;
}
.header__text--desktop {
  font-size: 3.5em;
  font-weight: 550;
}
.header__text--mobile {
  font-size: 2.5em;
  margin-right: 20px;
  font-weight: 550;
  color: #12324e;
}

.header__hornament--center {
  margin-left: 52%;
}

.header__hornament--right {
  margin-left: 70%;
}

.header__hornament--left {
  margin-left: 15%;
}
.fade-in-right {
  transition: all 2s;
  opacity: 0;
  transform: translateX(-100px);
}
.fade-in-right.in-viewport {
  transition: all 2s;
  opacity: 1;
  transform: translateX(0);
}
.fade-in-left {
  transition: all 2s;
  opacity: 0;
  transform: translateX(100px);
}
.fade-in-left.in-viewport {
  transition: all 2s;
  opacity: 1;
  transform: translateX(0);
}
</style>
