<template>
  <div>
    <v-navigation-drawer
      v-model="showDrawer"
      fixed
      app
      color="primary"
      class="hidden-md-and-up"
    >
      <v-img
        :src="require('@/assets/img/logos/logo.png')"
        :max-width="250"
        class="mt-5 ml-5"
        max-height="40px"
        contain
      ></v-img>
      <ul class="mt-5">
        <li v-for="(section, i) in sections" :key="i">
          <v-btn
            @click="goToSection(section)"
            text
            large
            class="navbar___btn--section my-1 white--text"
          >
            <v-icon left>{{ section.icon }}</v-icon
            >{{ section.label }}
          </v-btn>
        </li>
      </ul>
    </v-navigation-drawer>
    <v-app-bar color="primary" fixed dark>
      <v-app-bar-nav-icon
        @click="showDrawer = !showDrawer"
        class="hidden-md-and-up"
      ></v-app-bar-nav-icon>
      <v-img
        :src="require('@/assets/img/logos/logo.png')"
        :max-width="250"
        class="mx-2"
        max-height="40px"
        contain
      ></v-img>

      <v-spacer></v-spacer>

      <div class="hidden-sm-and-down">
        <v-btn
          v-for="(section, i) in sections"
          :key="i"
          @click="goToSection(section)"
          class="navbar___btn--section"
          text
        >
          {{ section.label }}
        </v-btn>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: 'AGNavBar',
  props: {
    sections: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      showDrawer: false
    }
  },
  methods: {
    goToSection(section) {
      this.showDrawer = false
      this.$router.push(`/?ref=${section.ref}`)
    }
  }
}
</script>

<style>
.navbar___btn--section {
  display: inline-block;
  text-decoration: none;
}

.navbar___btn--section:after {
  content: '';
  display: block;
  width: 0;
  border-bottom: #fda40e 3px solid;
  margin: 0 auto;
  transition: all 0.15s linear 0s;
  margin-top: 5px;
}

.navbar___btn--section:hover:after {
  width: 90%;
}

ul {
  list-style-type: none;
}
</style>
