<template>
  <div
    :style="{
      backgroundImage: $vuetify.breakpoint.smAndDown
        ? ''
        : 'url(' + require('@/assets/img/mv.png') + ')'
    }"
    :class="{
      'mission__container--desktop': !$vuetify.breakpoint.smAndDown,
      'mission__container--mobile': $vuetify.breakpoint.smAndDown
    }"
    class="mission__container"
  >
    <div
      :class="{
        'mission-body__container--desktop': !$vuetify.breakpoint.smAndDown,
        'mission-body__container--mobile': $vuetify.breakpoint.smAndDown
      }"
    >
      <a-g-header
        :color="
          $vuetify.breakpoint.smAndDown ? $source.palette.primary : 'white'
        "
        title="Misión"
      ></a-g-header>
      <div
        :style="`color:$source.palette.body`"
        :class="
          $vuetify.breakpoint.smAndDown
            ? 'mission__body--mobile'
            : 'mission__body--desktop'
        "
        v-in-viewport.once
        class="mt-5 appear"
      >
        {{ $source.mission.body }}
      </div>
    </div>
    <div
      :class="{
        'vision-body__container--desktop': !$vuetify.breakpoint.smAndDown,
        'vision-body__container--mobile': $vuetify.breakpoint.smAndDown
      }"
    >
      <a-g-header
        :color="
          $vuetify.breakpoint.smAndDown ? $source.palette.primary : 'white'
        "
        class="vision-body__header"
        right
        title="Visión"
      ></a-g-header>
      <div
        :style="`color:$source.palette.body`"
        :class="
          $vuetify.breakpoint.smAndDown
            ? 'vision__body--mobile'
            : 'vision__body--desktop'
        "
        v-in-viewport.once
        class="mt-5 appear"
      >
        {{ $source.mission.body }}
      </div>
    </div>
  </div>
</template>

<script>
import AGHeader from '@/components/navigation/AGHeader'
export default {
  components: {
    AGHeader
  }
}
</script>

<style>
.mission__container {
  margin-top: 250px;
  background-size: cover;
}
.mission__container--desktop {
  margin-top: 250px;
  height: 800px;
  position: relative;
}
.mission__body--desktop {
  font-size: 1.8em;
  padding-right: 500px;
  margin-left: 50px;
  color: white;
  text-align: center;
}
.mission-body__container--desktop {
  position: absolute;
  top: 15%;
  left: 5%;
}

.vision-body__container--desktop {
  position: absolute;
  top: 50%;
  right: 0;
}
.vision__body--desktop {
  font-size: 1.8em;
  padding-left: 60%;
  margin-right: 50px;
  color: white;
  text-align: left;
}
.vision-body__header {
  margin-right: 20%;
}
.appear {
  transition: all 3s;
  opacity: 0;
}
.appear.in-viewport {
  transition: all 3s;
  opacity: 1;
}
</style>
