<template>
  <div>
    <a-g-header title="Misión" center class="mb-10"></a-g-header>
    <div
      :style="`color:$source.palette.body`"
      :class="
        $vuetify.breakpoint.smAndDown
          ? 'mission__body--mobile'
          : 'mission__body--desktop'
      "
      v-in-viewport.once
      class="appear"
    >
      {{ $source.mission.body }}
    </div>
  </div>
</template>

<script>
import AGHeader from '@/components/navigation/AGHeader'
export default {
  components: {
    AGHeader
  }
}
</script>

<style>
.mission__body--desktop {
  font-size: 1.8em;
  padding-right: 50%;
  text-align: left;
}
.mission__body--mobile {
  font-size: 1.5em;
  padding: 0 50px;
  text-align: center;
  text-justify: inter-word;
}
.appear {
  transition: all 3s;
  opacity: 0;
}
.appear.in-viewport {
  transition: all 3s;
  opacity: 1;
}
</style>
