<template>
  <div>
    <a-g-desktop-m-v class="hidden-sm-and-down"></a-g-desktop-m-v>
    <a-g-mobile-m-v class="hidden-md-and-up"></a-g-mobile-m-v>
  </div>
</template>

<script>
import AGDesktopMV from '@/components/mission/AGDesktopMV'
import AGMobileMV from '@/components/mission/AGMobileMV'
export default {
  components: {
    AGDesktopMV,
    AGMobileMV
  }
}
</script>
