<template>
  <div class="hidden-md-and-up">
    <a-g-mission-module></a-g-mission-module>
    <a-g-vision-module></a-g-vision-module>
  </div>
</template>

<script>
import AGMissionModule from '@/components/mission/AGMissionModule'
import AGVisionModule from '@/components/mission/AGVisionModule'
export default {
  components: {
    AGMissionModule,
    AGVisionModule
  }
}
</script>
