<template>
  <div class="mb-10">
    <a-g-header title="Visión" center class="mb-10 mt-10"></a-g-header>
    <div
      :style="`color:$source.palette.body`"
      :class="{
        'vision__body--mobile': $vuetify.breakpoint.smAndDown,
        'vision__body--desktop': !$vuetify.breakpoint.smAndDown
      }"
      v-in-viewport.once
      class="appear"
    >
      {{ $source.vision.body }}
    </div>
  </div>
</template>

<script>
import AGHeader from '@/components/navigation/AGHeader'
export default {
  components: {
    AGHeader
  }
}
</script>

<style>
.vision__body--desktop {
  font-size: 1.8em;
  padding-left: 50%;
  text-align: left;
}
.vision__body--mobile {
  font-size: 1.5em;
  padding: 0 50px;
  text-align: center;
  text-justify: inter-word;
}
.appear {
  transition: all 3s;
  opacity: 0;
}
.appear.in-viewport {
  transition: all 3s;
  opacity: 1;
}
</style>
