<template>
  <div class="mb-10">
    <a-g-header title="Contáctanos" center class="my-10 pb-5"></a-g-header>
    <div class="contact-forms__container">
      <a-g-email-form class="form__email"></a-g-email-form>
      <a-g-whatsapp class="hidden-sm-and-down form__whatsapp"></a-g-whatsapp>
    </div>
  </div>
</template>

<script>
import AGHeader from '@/components/navigation/AGHeader'
import AGEmailForm from '@/components/contact/AGEmailForm'
import AGWhatsapp from '@/components/contact/AGWhatsapp'
export default {
  components: {
    AGHeader,
    AGEmailForm,
    AGWhatsapp
  }
}
</script>

<style>
.contact-forms__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.form__whatsapp {
  align-self: flex-start;
}
.form__email {
  align-self: flex-start;
}
</style>
