<template>
  <v-form v-model="valid" lazy-validation>
    <div class="email-form__icon">
      <v-img
        max-width="50"
        src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png"
      ></v-img>
      <div class="email-form__header">Envíanos un correo</div>
    </div>
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="name"
            :rules="nameRules"
            outlined
            prepend-inner-icon="mdi-account-circle"
            label="Nombre"
            class="contact-form__input"
            required
          ></v-text-field>
          <v-text-field
            v-model="tel"
            :rules="nameRules"
            outlined
            prepend-inner-icon="mdi-phone"
            label="Teléfono"
            class="contact-form__input"
            required
          ></v-text-field>
          <v-text-field
            v-model="email"
            :rules="emailRules"
            outlined
            prepend-inner-icon="mdi-email"
            label="E-mail"
            class="contact-form__input"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-btn
        :color="$source.palette.accent"
        width="100%"
        dark
        large
        class="white--text text-center contact-form__input contact-email__btn"
        >Enviar</v-btn
      >
    </v-container>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    name: '',
    tel: '',
    nameRules: [(v) => !!v || 'Campo requerido'],
    email: '',
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+/.test(v) || 'E-mail inválido'
    ]
  })
}
</script>

<style>
.contact-form__input {
  min-width: 300px;
}
.email-form__icon {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.email-form__header {
  font-size: 1.5em;
  color: #11324d;
  font-weight: 500;
  margin-top: 10px;
}
.contact-email__btn {
  transition: all 0.2s;
}
.contact-email__btn:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}
</style>
