<template>
  <div class="whatsapp__container">
    <v-img
      class="my-5 text-center whatsapp__icon"
      src="https://seeklogo.com/images/W/whatsapp-logo-33F6A82887-seeklogo.com.png"
      width="60"
    >
    </v-img>
    <div class="whatsapp__header">
      ¿Necesitas más información?
    </div>
    <div class="whatsapp__body">
      Contáctanos y cotiza <br />
      con nosotros.
    </div>
    <v-btn
      :color="$source.palette.accent"
      class="white--text contact-whatsapp__btn"
      prepend-icon="mdi-social-whatsapp"
      >Escríbenos</v-btn
    >
  </div>
</template>

<script>
export default {}
</script>

<style>
.whatsapp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.whatsapp__header {
  font-size: 1.5em;
  color: #11324d;
  font-weight: 500;
  margin: 25px 0;
}
.whatsapp__body {
  font-size: 1.1em;
  color: #11324d;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  line-height: 38px;
  margin-bottom: 30px;
}
.whatsapp__icon {
  align-self: center;
}
.contact-whatsapp__btn {
  transition: all 0.2s;
}
.contact-whatsapp__btn:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}
</style>
