<template>
  <v-app dark style="background-color:white !important;">
    <a-g-nav-bar :sections="sections" />
    <nuxt ref="main" />
    <a-g-footer />
  </v-app>
</template>

<script>
import AGFooter from '@/components/navigation/AGFooter'
import AGNavBar from '@/components/navigation/AGNavBar'
export default {
  components: {
    AGFooter,
    AGNavBar
  },
  data() {
    return {
      sections: [
        {
          icon: 'mdi-home',
          label: 'Inicio',
          ref: 'billboard',
          to: '/'
        },
        {
          icon: 'mdi-account-group',
          label: 'Nosotros',
          ref: 'us',
          to: '/'
        },
        {
          icon: 'mdi-room-service',
          label: 'Servicios',
          ref: 'services',
          to: '/'
        },
        {
          icon: 'mdi-apps',
          label: 'Productos',
          ref: 'products',
          to: '/'
        },
        {
          icon: 'mdi-contact-phone',
          label: 'Contacto',
          ref: 'contact',
          to: '/'
        }
      ]
    }
  }
}
</script>
