<template class="ag__landing--container">
  <div
    :class="
      $vuetify.breakpoint.smAndDown
        ? 'main__container--mobile'
        : 'main__container--desktop'
    "
  >
    <a-g-billboard id="billboard"></a-g-billboard>
    <a-g-us-section id="us"></a-g-us-section>
    <a-g-mission id="mission"></a-g-mission>
    <a-g-services id="services"></a-g-services>
    <a-g-products id="products"></a-g-products>
    <a-g-parallax></a-g-parallax>
    <a-g-contact id="contact"></a-g-contact>
    <v-speed-dial
      v-model="fab"
      direction="top"
      transition="slide-y-reverse-transition"
      class="mr-9 floating__menu"
      fixed
      bottom
      right
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="#3490E0"
          dark
          fixed
          bottom
          right
          fab
          x-large
        >
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-chat</v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="#25d366" large>
        <v-icon large>mdi-whatsapp</v-icon>
      </v-btn>
      <v-btn fab dark small color="#B23121" large>
        <v-icon large>mdi-gmail</v-icon>
      </v-btn>
      <v-btn fab dark small color="#2f477a" large>
        <v-icon large>mdi-facebook-messenger</v-icon>
      </v-btn>
    </v-speed-dial>
  </div>
</template>

<script>
import AGBillboard from '@/components/billboard/AGBillboard'
import AGUsSection from '@/components/us/AGUsSection'
import AGMission from '@/components/mission/AGMission'
import AGServices from '@/components/services/AGServices'
import AGProducts from '@/components/products/AGProducts'
import AGParallax from '@/components/parallax/AGParallax'
import AGContact from '@/components/contact/AGContact'
export default {
  components: {
    AGBillboard,
    AGUsSection,
    AGMission,
    AGServices,
    AGProducts,
    AGParallax,
    AGContact
  },
  data: () => ({ fab: false }),
  watch: {
    $route(to) {
      if (Object.keys(to.query).includes('ref')) {
        this.$vuetify.goTo(`#${to.query.ref}`, {
          duration: 500,
          offset: 100,
          easing: 'easeInOutCubic'
        })
      }
    }
  }
}
</script>

<style>
.main__container--desktop {
  margin-top: 64px;
}

.main__container--mobile {
  margin-top: 54px;
}

.ag__landing--container {
  max-width: 100%;
  overflow-x: hidden;
}

.v-application--wrap {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}

.floating__menu {
  margin-bottom: 70px;
}
</style>
