<template>
  <div
    :class="{
      'services__container--xs': $vuetify.breakpoint.xs,
      'services__container--sm': $vuetify.breakpoint.sm
    }"
  >
    <a-g-header title="Servicios" center class="mb-10 mt-5"></a-g-header>
    <template>
      <v-carousel
        :height="$vuetify.breakpoint.smAndDown ? '400px' : '700px'"
        continuous
        cycle
      >
        <v-carousel-item
          v-for="(service, i) in $source.services"
          :key="i"
          :src="service.src"
        >
        </v-carousel-item>
      </v-carousel>
    </template>
  </div>
</template>

<script>
import AGHeader from '@/components/navigation/AGHeader'
export default {
  components: {
    AGHeader
  }
}
</script>
